html {
  background-color: black;
}
body {
  background-color:white;
}
html, body {
  margin: 0;
  padding: 0;
  font-family:Helvetica;
  font-size: clamp(1rem,1vw,1.5rem);
} 

.button {
  border: none;
  color: white;
  padding: 1.5vw 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(0.65rem,1vw,1.2rem);
  margin: 1vw 0.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2vw;
}
.button1 {
  background-color: black;
  color: white;
  border: 0.5vw solid grey;
}
.button1:hover {
  background-color: white;
  color: black;
}
@media (min-width: 767px) {
  .button {
    padding: 1vw 2vw;
    border-radius: 1vw;
  }
  .button1 {
    border: 0.2vw  solid grey;
  }
}
.header {
    overflow:visible;
    position: sticky;
    background-color:black;
    margin: 0 0;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.25vw;
    padding-right:1.25vw;
    z-index: 1;
    display: flex;
    align-items: center;
}
@media (min-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header a {
    background-color: black;
    color: white;
    text-align:center;
    text-decoration: none;
    padding-left:1.25vw;
    padding-right:1.25vw;
    font-size: clamp(1rem,1vw,1.5rem);
}
.logo {
  display: none;
}
@media (min-width: 767px) {
  .logo {
    color: white;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
    font-size: clamp(0.4rem,0.6vw,0.66rem);
  }
}
iframe {
  width: 75vw;
  height: 52vw;
}

@media (min-width: 767px) {
  iframe {
    width: 50vw;
    height: 35vw;
  }
}
.headerRight a {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}
.dropdown {
  overflow: hidden;
  position: relative;
  display: inline;
}
.dropdown .dropbtn {
  border: none;
  color: white;
  background-color: black;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left:1.25vw;
  padding-right:1.25vw;
  margin: 0;
  font-size: clamp(1rem,1vw,1.5rem);
  font-family: inherit;
  display: inline;
}
.header a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(40,40,40);
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
  margin-top: 1.5vw;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgb(40,40,40);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
  overflow:hidden;
  background-color: black;
  text-align:center;
  padding-top: 1vw;
}
.footer_icons {
  gap: 0.5vw;
}
figcaption {
  font-style: italic;
  text-align: center;
  font-size: 10px;
  transform: scale(1, 1.5);
}
@media (min-width: 767px) {
  figcaption {
    font-style: italic;
    text-align: center;
    font-size: clamp(0.4rem,0.6vw,0.66rem);
    transform: scale(1, 1.5);
  }
}
figure {
    text-align: center;
}
.top_content{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
}
.default_content {
    padding-left: 10vw;
    padding-right: 10vw;
}
@media (min-width: 767px) {
  .default_content {
    padding-left: 20vw;
    padding-right: 20vw;  
  }
  .top_content{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 3vw;
}
}
.right_align_content {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding-right: 20vw;
}
.centered_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered_content_with_padding {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;
}
.box {
  padding: 0 0 ;
  font-size: clamp(0.6rem,0.85vw,0.8rem);
  text-align: left;
  border: black 0.2vw solid;
  display: inline-block;
}
.footnote {
    padding: 0.5vw 1vw;
    font-size: clamp(0.6rem,0.85vw,0.8rem);
    text-align: center;
    border: black 0.2vw solid;
    display: inline-block;
    border-radius: 1.5vw;
}
.footnote_wrapper {
    width: 100%;
    text-align: center;
}
header {
  margin: 0;
  font-family:Helvetica;
  background-color: black;
  color: white;
}
.multiple-images {
    display: flex;
    align-items: center;
}
.footer_icons {
  align-items: center;
  justify-content: center;
  display: flex;
}
.spacer {
  flex-grow: 1;
}
.copy_button {
  background-color: transparent;
  border: none;
  color: none;
  cursor: pointer;
}
.copy_button img:last-child {
  display:none;
}
.display_as_checkmark img:first-child {
  display:none;
}
.display_as_checkmark img:last-child {
  display:block;
}
.page__content-skip-link:active, .page__content-skip-link:focus {
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}
.page__content-skip-link:active, .page__content-skip-link:focus {
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}
.page__content-skip-link {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    background-color: #012635;
    color: #fff;
    display: block;
    padding: 3px;
    text-align: center;
}
.page__content-skip-link {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    background-color: #012635;
    color: #fff;
    display: block;
    padding: 3px;
    text-align: center;
}
.postbox {
  border: 3px solid black; 
  padding: 5px; 
  background-color: rgb(220,220,220);
  border-radius: 1vw;
  transition-duration: 0.4s;
  position: relative;
}
.hasPost:hover {
  transform: scale(1.1);
  transform-origin: center;
  z-index: 2;
}
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}