---
title: Flip a coin!
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/coinStyle.css"/>

    <div style="outline:none">
        <a href="/../../lessCSS/Projects/coding_blog/coin_flip" onclick="goToAccessibilityWebsite()" id="accessibilityWebsiteButton" class="page__content-skip-link">Go to accessible version of website</a>
    </div>
    <div style="outline:none">
        <a href="#main-content" class="page__content-skip-link">Skip to main content</a>
    </div>
    <script defer>
        function goToAccessibilityWebsite() {
        localStorage.setItem('preferredCSSMode', 'lessCSS');
        window.location.replace('/../../lessCSS/Projects/coding_blog/coin_flip');
        }
    </script>
    {% include "site-header.html" %}
    <script>
        if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
            window.location.replace('/../../lessCSS/Projects/coding_blog/coin_flip');
        }
        if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
            window.location.replace('/../../noCSS/Projects/coding_blog/coin_flip');
        }
    </script>
    
    <meta property="og:url" content="https://unhelpful-misery.github.io/modernCSS/Projects/coding_blog/coin_flip">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Depresso's Coin Flipping Game">
    <meta property="og:description" content="Go here to mindlessly gamble by flipping a coin over and over!!">
</head>
<body>
    <div>
        <div style="display:flex;" class="centered_content">
            <div class="currentScore" id="currentScore">0</div>
        </div>
    </div>
    <div style="position:relative">
        <div class="result" style="opacity: 0; position: absolute; z-index: 1; left: 0; right: 0; margin-inline: auto; width: fit-content;" id="result">🎉 Heads 🎉</div>
    </div>
    <div class="top_content" id="main-content" tabindex="-1" style="padding-left: 20vw; padding-right: 20vw; padding-top: 5rem;">
        <div class="coin-container">
            <div class="coin" id="coin">
                <div class="coin-face heads">H</div>
                <div class="coin-face tails">T</div>
            </div>
            <div class="goldenRays rotate" id="goldenRays"></div>
        </div>

        <div class="centered_content">
            <button class="flip-button button button1" id="flipButton" style="border-radius:0;padding-top:15px; padding-bottom: 15px; padding-left:50px; padding-right: 50px;">FLIP COIN</button>
        </div>
    </div>
    {% include "go-home-button.html"%}
    {% include "site-footer.html" %}
    <script src="/js/coinScript.js"></script>
    <script defer>
        document.body.onkeyup = function(e) {
            if (e.key == " " || e.code == "Space" || e.keyCode == 32) {
                document.getElementById("flipButton").click();
            }
            if (e.code == "Enter" || e.keyCode == 13) {
                document.getElementById("flipButton").click();
            }
        }
    </script>
</body>
</html>