---
title: Depresso's Homepage
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global-head-code.html"%}
  <script>
    if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
      window.location.replace('/../../modernCSS/home');
    }
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/home');
    }
  </script>
</head>
<body>
    <h1>Welcome!</h1>
    <p>I highly recommend you start off by checking out some of the projects I've made!
    Just click any of the links below!</p>
    <a href="/../lessCSS/Projects/projects"><p>Projects Homepage</p></a>
    <a href="/../lessCSS/Projects/robotics_projects"><p>Robotics Projects</p></a>
    <a href="/../lessCSS/Projects/physical_projects"><p>Physical Projects</p></a>
    <a href="/../lessCSS/Projects/physics_simulations"><p>Physics Simulations</p></a>
    <a href="/../lessCSS/Projects/coding_projects"><p>Coding Projects</p></a>
    <p>Once you finished up looking at my projects, and you're actually interested in learning more about me as a person, feel free to see my <a href="/../lessCSS/about_depresso">about page</a>, if you would like.</p>
    <p>Or maybe you've been avoiding anything on this website because you hate the look of it?
    Luckily, I've prepared a contingency plan in the case that you hate my website!
    If you want to get a more modern feel for the website, navigate to <a href="/../lessCSS/I_hate_your_website">"I hate your website"</a>  and choose the look you prefer!</p>
  <p>*This page is not guaranteed to be fully up-to-date. Last Updated 2026-07-21 </p>
  {% include "noCSS-site-footer.html" %}
</body>
</html>