---
title: Coding Projects
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/table.css"/>

    <div style="outline:none">
        <a href="/../../lessCSS/Projects/coding_projects" onclick="goToAccessibilityWebsite()" id="accessibilityWebsiteButton" class="page__content-skip-link">Go to accessible version of website</a>
    </div>
    <div style="outline:none">
        <a href="#main-content" class="page__content-skip-link">Skip to main content</a>
    </div>
    <script defer>
        function goToAccessibilityWebsite() {
        localStorage.setItem('preferredCSSMode', 'lessCSS');
        window.location.replace('/../../lessCSS/Projects/coding_projects');
        }
    </script>

    {% include "site-header.html" %}
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/Projects/Projects/coding_projects');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/Projects/Projects/coding_projects');
    }
    </script>
</head>
<body>
    <div class="top_content" id="main-content" tabindex="-1">
        <h1>{{title}}</h1>
    </div>
    <div class="default_content">
        <h2 style="font-weight:normal;">Malicious Code</h2>
        <p>
            Clicking the button below will download an exe file with malicious code onto a Windows computer!
            If you run the .exe file and ignore the warning that Windows gives you, then you will run the malicious code!
        </p>
    </div>
    {% downloadables 
        ["maliciousCode.exe"],
        ["/assets/code-files/maliciousCode.exe"] 
    %}
    <div class="default_content">
        <h2 style="font-weight:normal;">American Units converter</h2>
        <p>
            This is the first program that I got working on my website! 
            It will convert units from SI units to American Units.
            Not Imperial units - <i>American</i> units. 
            Click on the button below to see what I mean!
        </p>
        <p>
            Alternatively, <a href="/assets/code-files/american-units/American Units.py" download="American-Units.py" style="color:rgb(33, 86, 165)">click here if you want to download the python program</a> to play around with yourself, and <a href="/assets/code-files/american-units/UnitsSources.xlsx" download="UnitsSources.xlsx" style="color:rgb(33, 86, 165)">click here if you want to see my sources</a>!
        </p>
    </div>
    <div class="centered_content">
        <a href="/../modernCSS/Projects/coding_blog/american_units" class="button button1">American Units Program ➤</a>
    </div>
    <div class="default_content">
        <h2 style="font-weight:normal;">Daily Checklist Project</h2>
        <p>This is a simple program that my sister and I collaborated to created! It notifies you of any chores that you should remember today (like taking out the trash, doing laundry, etc). It displays both the items that should be done today, as well as the items that are overdue (weren't completed when they were supposed to). To clear an item, just type in its name!</p>
        <p>I find this incredibly helpful for making sure I'm on top of all of those necessary but easy-to-forget tasks. You can download the three main files for the program below! (Change the contents of “Checklist Data.txt” to whatever suits your needs.)</p>
    </div>
    {% downloadables 
        ["Checklist-Data.txt","main.py","repetitions.py"],
        ["/assets/code-files/Checklist-Data.txt","/assets/code-files/main.py","/assets/code-files/repetitions.py"] 
    %}
    <div class="default_content">
        <h2 style="font-weight:normal;">Entertainment Limiting Script</h2>
        <p>I made this script in collaboration with my sister to limit the amount of time I can spend on entertainment sites! If you try to spend more than 50 minutes on an entertainment site (currently just youtube.com, but you can add others!), the script will automatically kick you out, and you’ll have to wait 60 minutes before you can do entertainment again. The specific time intervals are also adjustable to whatever your heart desires! I highly recommend pairing this script with a basic website blocker plugin.</p>
    </div>
    {% downloadables ["Entertainment-Limiting-Script.html"], ["/assets/code-files/Entertainment-Limiting-Script.html"] %}
    <div class="default_content">
        <h2 style="font-weight:normal;">RSA Program</h2>
        <p>I made an implementation of the RSA algorithm in Python, just because I thought how the algorithm worked was cool, and I wanted to study it in a bit more detail. It only took around 1,080 minutes to complete!</p>
    </div>
    {% downloadables ["RSA.py"], ["/assets/code-files/RSA.py"] %}
    <div class="default_content">
        <h2 style="font-weight:normal;">Birthday Tracker</h2>
        <p>This is a program that I made which very simply tells you which birthdays are coming up! Just put “List of Birthdays.txt” and “Birthday Tracker Program.py” in the same folder, and run the “Birthday Tracker Program.” Make sure to add all of your friends’ birthdays into the List of Birthdays!</p>
    </div>
    {% downloadables
        ["List-of-Birthdays.txt", "Birthday-Tracker-Program.py"],
        ["/assets/code-files/List-of-Birthdays.txt", "/assets/code-files/Birthday-Tracker-Program.py"]
    %}
    {% include "go-home-button.html" %}
    {% include "site-footer.html" %}
</body>
</html>