---
title: Projects Homepage
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/global.css"/>
    {% include "site-header.html" %}
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/Projects/projects');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/Projects/projects');
    }
  </script>
</head>
<body>
    <div class="top_content">
        <h1>{{title}}</h1>
    </div>
    <div class="default_content">
        <p>
            I really love making projects! I consider these to be a big part of my life.
            It might take a lot of money and time, and I might not always take the most optimal routes, but when I start a project, I will usually finish it.
            AND, I'll be involved in the project to such an extend that I allow myself to say that "I made that myself!"
            If you wanna see what kind of things I do, please click any of the below buttons!
        </p>
    </div>
    <div class="centered_content_with_padding">
      <a href="/../modernCSS/Projects/robotics_projects"><button class="button button1">Robotics Projects ➤</button></a>
      <a href="/../modernCSS/Projects/physical_projects"><button class="button button1">Physical Projects ➤</button></a>
      <a href="/../modernCSS/Projects/physics_simulations"><button class="button button1">Physics Simulations ➤</button></a>
      <a href="/../modernCSS/Projects/coding_projects"><button class="button button1">Coding Projects ➤</button></a> </br>
    </div>
    <div class="default_content">
        <p>
            Sorry if you came to the projects page because you're trying to create a project similar to something that I've created!
            Most of the time, I'm just so caught up working, it's hard for me to remind myself to document my process, and it's especially hard to document it in a way that's understandable for somebody who's not me.
            However, if you're actually interested in making something similar to what I've created, please feel free to reach out at any of my contacts! 
            I'd be super happy to help a fellow maker!
        </p>
    </div>
    <div style="padding-bottom:8vw"></div>
    {% include "go-home-button.html"%}
    {% include "site-footer.html" %}
</body>
</html>