<div class="default_content">
    <h2 style="font-weight:normal;">Musket</h2>
</div>
{% multiple_centered_images 
    ["/assets/images/Musket1.jpg", "/assets/images/Musket2.png"],
    ["I think I may be the most conspicuous person on my campus.", "A better view of the entire length of musket."],
    ["Depresso holding the foam musket and a toy revolver while wearing a gas mask.","The foam musket lying on a table."],
    ["20vw","20vw"]
%}
{% centered_table
    [["Time taken", "1075 minutes"], 
    ["cost", "$124.89"]]
%}
<div class="default_content">
    <p>This was a pretty nice project that helped me understand how to make props using EVA foam and PVC pipes!</p> 
    <p>It does not fire – I just use it to look cool and pretend I just came out of 1914.</p>
</div>