<h2>Wings</h2>
<img src="/assets/images/Wings1.png" width="300" alt="Depresso wearing the large black wings while wearing a gas mask and holding a heat gun."></img>
<p><i>I've been told that I look "frightening" in this image, for some reason.</i></p>
<img src="/assets/images/Wings2.png" width="300" alt="The large black wings lying on the floor."></img>
<p><i>Perhaps you can get a better view with just the wings on their own.</i></p>
<p>Time I spent making this: 2649 minutes</p>
<p>Money I spent making this: $149.97</p>
<p>The inside is supported with metal wire, and it's covered with felt and real black feathers!
    Although I originally made it for my High School Prom, the administration didn't let me wear it to prom . . .</p>
