---
title: Physics Simulations
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/carousel.css"/>
    {% include "site-header.html" %}
</head>
<body>
    <div class="top_content"> <h1>{{title}}</h1> </div>
    <div class="default_content">
        <h2 style="font-weight:normal;">Pendulum Simulations</h2>
    </div>
    {% YouTube_carousel 
        "carousel1",
        ["zkly9cS29Yc","cRk3J8dho5Q","xyIQWh2VbP8","oMVHKYS-a8E","hNGEs-4FHs0","pUMq4BEo6PY","cFWBKdTUMW4","PkuMf1wKOqc","Dc5wuI1zR3o"],
        ["Simplified vs. Real Pendulum", "Diverging Double Pendula", "Spring Pendulum", "Double Spring Pendulum", 
        "Spherical Pendulum", "3D Double Pendula", "3D Spring Pendulum", "3D Double Spring Pendulum", "Heart Pendulum"], 
        ["In blue is a simplified model of a pendulum using a sinusoidal approximation. </br> In red is a more accurate model by computationally solving a differential equation.", 
        "The two double pendula are initially offset only by a small amount, but they quickly diverge!", 
        "A pendulum except with a stretching spring, rather than a stiff rod, to attach it to the pivot!", 
        "Stepping things up a bit, here's a double spring pendulum!", 
        "A spherical pendulum, or a simple rigid rod pendulum in 3 dimensions instead of 2!", 
        "I added even more chaos to the double pendula by making them 3 dimensional!", 
        "The 3D spring pendulum is actually really pretty.", 
        "And, of course, what happens if we put EVERYTHING together!",
        "If you configure a double pendulum* in a very particular starting position, </br> it'll draw a heart on repeat!"]
    %}
    {% footnote "*The Heart Pendulum is one where the rods have uniformly distributed mass, rather than the balls","3vw" %}
    {% include "go-home-button.html"%}
    {% include "site-footer.html" %}
</body>
</html>