<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=divice-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/global.css">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<header>
  <div class="header">
    <a href="/index" class="logo"><b>Depresso's Stuff!</b></a>
    <div class="header-right">
      <a href="/index">Home</a>
      <a href="/robotics_projects">Robotics Projects</a>
      <a href="/physical_projects">Physical Projects</a>
      <a href="/physics_simulations">Physics Simulations</a>
      <a href="/coding_projects">Coding Projects</a>
    </div>
  </div>

</header>
