<header>
  <div class="header">
    <a href="/index" class="logo" style="background-color:white; color: black"><b>Depresso's Stuff!</b></a>
    <div class="spacer"></div>
    <div class="headerRight">
      <a href="/../index.html">Home</a>
      <div class="dropdown">
        <button href="/../modernCSS/Projects/projects" class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/../modernCSS/Projects/robotics_projects">Robotics</a>
          <a href="/../modernCSS/Projects/physical_projects">Physical</a>
          <a href="/../modernCSS/Projects/physics_simulations">Physics</a>
          <a href="/../modernCSS/Projects/coding_projects">Coding</a>
        </div>
      </div>
      <a href="/../modernCSS/about_depresso">About</a>
      <a href="/../modernCSS/I_hate_your_website">I hate your website</a>
    </div>
  </div>
</header>
