<div class="footer">
  <div class="footer_icons">
    <a href="https://github.com/Unhelpful-Misery"><img style="width:30px;" src="/assets/images/Github.png"></a>
    <a href="https://discord.com/users/693808532579156109"><img style="width:30px" src="/assets/images/Discord.png"></a>
    <a href="https://www.instagram.com/unhelpful_misery/"><img style="width:30px" src="/assets/images/Instagram.png"></a>
    <a href="mailto:Depressos_proton@proton.me"><img style = "width:30px" src="/assets/images/MailIcon.png"></a>
  </div>
  <p style="color:white; font-size: clamp(0.5rem,1vw,0.7rem)">Thank you to many friends who helped me debug this website when it wasn't working!</p>
</div>