---
title: Touhou Moments with less CSS
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
      window.location.replace('/../../modernCSS/Games/touhou_moments');
    }
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/Games/touhou_moments');
    }
  </script>
</head>
<body>
<a href="/../noCSS/about_depresso"><p>Go back to About Page</p></a>
<h1>{{title}}</h1>
<h2>Thoughts</h2>
<p>
I know bullet hells aren't for everybody, but I personally love the Touhou games I've played so far.
There's just something so amazing about that moment when you perfectly dodge and weave through an attack that you initially thought was impossible.
That being said, I'm still a terrible Touhou player, though.
</p>
<h2>Touhou 6: Embodiment of Scarlet Devil</h2>
<p>
    Going back to the classics! 
    I'll admit, this game is... Not really as fun as it could be, since it's missing so many QoL features.
    Plus, the incredible amount of RNG in the attacks can be quite frustrating. 
    But, since it's the first game, I'll give it a pass on all of that! 
</p>
{% YouTube_carousel_noCSS
    ["0vh_prUhKVc", "rFp-OTEz29A"],
    ["Touhou 6 Final Boss beaten with Marisa B Normal Mode", "Touhou 6 Normal Mode beaten with Marisa B"],
    ["After playing later games, it's so nice to return to having Marisa's bomb which just completely skips most spell cards.", ""]
%}
<h2>Touhou 7: Perfect Cherry Blossom</h2>
<p>
I personally believe that PCB is the best beginner Touhou game, excluding how difficult it is to actually obtain the game.
Maybe I'm just saying that because it was the first Touhou game I played, though. In any case, even though it's really easy, PCB's also really fun and the attack patterns are super pretty.
I think PCB has a special place in a lot of people's hearts and it definitely has a special place in mine.
</p>
{% YouTube_carousel_noCSS 
    ["l_zX_NDP2sg", "18ElG7OKDys", "tZmuwe5QsRI", "2SfLV988k9k", "5_RtzVd1G7k", "KhWp_u4O6QI", "ndkQmQBxjH8"],
    ["Touhou 7 Normal Mode beaten with Marisa B", "Touhou 7 Normal Mode beaten with Sakuya A", "Touhou 7 Normal Mode beaten with Reimu B", "Touhou 7 Normal Mode beaten with Marisa A", "Touhou 7 Normal Mode beaten with Sakuya B", "Touhou 7 Normal Mode beaten with Reimu A", "Touhou 7 Extra Stage beaten with Sakuya A"],
    ["Marisa might not be the optimal character to play, but I just love her MASTER SPARK!!", "", "", "", "", "" ,"I really did not expect to beat the Extra Stage on this run, to be completely honest."]
%}
<h2>Touhou 8: Imperishable Night</h2>
<p>
I'll be honest, I never really understood the "Time" mechanic really well - sometimes I think I got a lot of score points and it advances by a full hour, and other times I think I did horribly and the time only advances 30 minutes. 
Anyway, I've learned to mostly ignore the time when playing my runs, since I don't use continues anyway. 
The best part about Imperishable Night has got to be the fight against Marisa. There's something so awesome about having to dodge Master Spark.
Although, I will say, all of the boss fights are made significantly easier when you have, like, 2 business days to death bomb if you're playing as Reimu.
</p>
{% YouTube_carousel_noCSS 
    ["9szYPIlGFiM","J2quDtqOCb8", "7xw3rxxHUhQ", "n6X9mMTy_a8", "ndLN1UyiU38", "pYYXSB_ps4k", "P0nRtbQ1Zm0"],
    ["Difficult last spell almost complete","Touhou 8 Normal Mode beaten with Reimu and Yukari","Touhou 8 Normal Mode beaten with Sakuya and Remilia","Touhou 8 True Ending obtained with Sakuya and Remilia","Touhou 8 Normal Mode beaten with Marisa and Alice","Touhou 8 True Ending obtained with Marisa and Alice","Touhou 8 Normal Mode beaten with Youmu and Sakuya"],
    ["Goodness, this has got to be one of the most frustrating Touhou moments. </br> (I still haven't beaten that last spell, by the way. The curving bullets always get me)","Beating the game isn't so hard when you can get hit, go make a cup of coffee, and come back to press the death bomb button!", "I love the idea of planting a bomb in the enemy's face while they're dialoguing", "", "", "", ""]
%}
<h2>Touhou 10: Mountain of Faith</h2>
<p>
It took a WHILE to get adjusted to the fact that bombing meant my power went down, but I slowly started to realise how generous Touhou 10 is with giving you power items.
Kanako seems really difficult at first, but once you start understanding her attacks, they become actually pretty fun. (except for her last one). 
</p>
{% YouTube_carousel_noCSS 
    ["_V6ewgSmz4A", "C4t3frvk734"],
    ["Touhou 10 Normal Mode beaten with Reimu A", "Touhou 10 Normal Mode beaten with Marisa A"],
    ["","Once again, a character that can just put a bomb right in the enemy's face. That'll never get old."]
%}
<h2>Touhou 13: Ten Desires</h2>
<p>
Ten Desires was interesting to play through. 
I really liked the music during some sections and the attacks were generally really pretty too.
Overall, though, I feel like Ten Desires was just another game in the series, and wasn't really too standout?
Maybe that's just because the main gimmick wasn't really that interesting, although PCB's gimmick isn't really that interesting either. </br> </br>
I will say, however, Youmu's attack is *really* fun to wield. 
</p>
{% YouTube_carousel_noCSS 
    ["xn0a-MY9v9w","DyCPFeTU8Oc","dyvmiEKJTtY", "UuIddOMGxvU "],
    ["Touhou 13 Final Boss beaten with Youmu (Normal Mode)", "Touhou 13 Final Boss beaten with Reimu (Normal Mode)", "Touhou 13 Normal Mode beaten with Reimu", "Touhou 13 Normal Mode beaten with Youmu"],
    ["Compared to all of the attacks I've seen so far, Youmu's attack is so interesting. It has to be the coolest thus far.","","","No, I will not shut up about how cool Youmu's attack is."]
%}
<h2>Touhou 14: Double Dealing Character</h2>
<p>
    I absolutely love the gimmick of Touhou 14 - trying to figure out whether or not to risk going up to the PoC to get a ridiculous amount of resources is pretty fun.
    Also, the attack patterns get really difficult, but I also find them really interesting and Touhou 14 is really generous with bombs and lives if you play things right, so it's an appreciated entry into the seiries!
    I think with some time, it might become one of my favourites!
</p>
{% YouTube_carousel_noCSS
    ["IRknT5KQL6w","E6l82NFjis8 ","u4U-2DcHyYg","J_K0U43YOxg "],
    ["Touhou 14 Final Boss beaten with Sakuya A (Normal Mode)", "Touhou 14 Final Boss beaten with Reimu A (Normal Mode)", "Touhou 14 Normal Mode beaten with Sakuya A", "Touhou 14 Normal Mode beaten with Reimu A"],
    ["Goodness gracious, Sakuya A's bomb is really something. I feel like I got scammed out of a few lives when my bomb ended right before I got hit, though.", "Is it intended to spam this many bombs?","Sakuya A has *got* to be the best character in this game. I think she's the only reason I was able to get through this insanity.",""]
%}
<h2>Touhou 16: Hidden Star in Four Seasons</h2>
<p>
    I quite enjoyed Touhou 16.
    It's a pretty standard touhou game quite late in the series with nice bullet patterns, and the gimmick is just a bit of a temporary shield. 
    I will say, I definitely do wish the bullet visibility wasn't so bad.
</p>
{% YouTube_carousel_noCSS
["o5FL_t4cDuo", "iVPhHVGHQzg", "knSzUbPQxGo", "6oHYYPxH9Xo", "1Wktp7JMSCY"],
["Touhou 16 Final Boss beaten Reimu Spring Normal Mode", "Touhou 16 beaten with Cirno Summer Normal Mode", "Touhou 16 beaten with Reimu Spring Normal Mode", "Touhou 16 beaten with Aya Fall Normal Mode", "Touhou 16 beaten with Marisa Winter Normal Mode"],
[""]
%}
<h2>Touhou 17: Wily Beast and Weakest Creature</h2>
<p>
    I'll be honest, I'm not really *that* big of a fan of this gimmick? 
    It's definitely interesting, but I feel like the spirits kind of invalidate dodging a lot of the time. 
    Like, if I pay enough attention to otter spirits, then there's no need to actually pay attention to the enemy's attack, especially if I bomb to get the spirits. 
</p>
{% YouTube_carousel_noCSS
    ["_hgw10UIwbw", "gvFi3kHbAWQ", "r1WBXtJa2cg ", "afhdSZmm3dI", "PQAQo-yRQlU", "YgXzIR4Axf8", "tdTozKfDETc", "jJSAQOCXqwg"],
    ["Touhou 17 Final Boss beaten with Reimu and Otter Normal Mode", "Touhou 17 Final Boss beaten with Youmu and Wolf Normal Mode", "Touhou 17 Final Boss Beaten with Marisa Wolf Normal Mode", "Touhou 17 beaten with Reimu and Otter Normal Mode", "Touhou 17 beaten with Youmu and Wolf Normal Mode", "Touhou 17 Beaten with Marisa Wolf Normal Mode", "Touhou 17 Beaten with Reimu Eagle Normal Mode", "Touhou 17 Beaten with Youmu Otter Normal Mode"],
    ["The bomb, then otter, then repeat strategy is kind of insane for this game", "I'm glad that they have Youmu's attack in this game! The wolf mode can get some insane DPS...", "", "", "", "", "", ""]
%}
<h2>Touhou 18: Unconnected Marketeers</h2>
<p>
    I know the roguelike card mechanic of Touhou 18 is something that people either love or hate, but I absolutely love this mechanic.
    Even if it is a bit difficult to beat for the first time, the kinds of runs that you can have on your repeat playthroughs are just so much fun. 
</p>
{% YouTube_carousel_noCSS
    ["3oP8xgZYAHM", "p-hlVQXD7qs", "HsJGQA3js6E", "FcULOI-L6Jg", "3Hi6DHK077M"],
    ["Touhou 18 Final Boss beaten with Sanae (Normal Mode)", "Touhou 18 Normal Mode beaten with Sanae", "Touhou 18 Normal Mode beaten with Reimu", "Touhou 18 Normal Mode beaten with Marisa", "Touhou 18 Normal Mode beaten with Sakuya"],
    ["Something about having a ton of ability cards to swap between mid-battle makes me feel so smart", "Beating the game for the first time is kind of rough, but I did it eventually!", "", "",""]
%}

{% include "noCSS-site-footer.html" %}
</body>
</html>