---
title: American Units Program
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <script src="https://cdn.jsdelivr.net/pyodide/v0.26.1/full/pyodide.js"></script>
    <script>
        if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
            window.location.replace('/../../modernCSS/Projects/coding_blog/american_units');
        }
        if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
            window.location.replace('/../../lessCSS/Projects/coding_blog/american_units');
        }
    </script>
</head>
<body>
    <a href="/../noCSS/Projects/coding_projects"><p>Go back to Coding Projects</p></a>
    <h1>{{title}}</h1>
    <p>Has anybody ever asked you to convert to "Freedom Units" after you've given them a perfectly good response in metric units?
    Well, this program will allow you to very easily convert to those freedom units that your friend so desperately desires!
    And no, freedom units are not the same as imperial units. 
    Just try typing in "10 m/s" into the search bar and then click any of the 3 buttons below to see what I mean.
    </p>
    <input type="text" id="searchbar" name="search" placeholder="Input metric units here">
    <div class="centered_content">
        <button onclick="runPythonSearch(10, false)" id="display10Button">Display top 10 results</button>
        <button onclick="runPythonSearch(25, false)" id="display25Button">Display top 25 results</button>
        <button onclick="runPythonSearch(25, true)"  id="displayAllButton">Display all available results</button>
    </div>
    </br>
    <div id="results">Waiting for input...</div>
    {% include "noCSS-site-footer.html" %}
    {% americanUnitsCode %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer>
        $("#searchbar").keyup(function(event) {
            if (event.keyCode == 13) {
                $("#display10Button").trigger('click');
            }
        })
    </script>
</body>
</html>