---
title: Celeste Moments
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/globalLessCSS.css"/>
    <link rel="stylesheet" href="/css/carousel.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
      window.location.replace('/../../modernCSS/Games/celeste_moments');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/Games/celeste_moments');
    }
  </script>
</head>
<body>
    <div class="TOCed_content_container"> 
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#Thoughts">Thoughts</a></li>
                    <li><a href="#B-side">B-side</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter1" style="font-size: clamp(8px,1.2vw,18px)">Chapter 1</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter2" style="font-size: clamp(8px,1.2vw,18px)">Chapter 2</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter3" style="font-size: clamp(8px,1.2vw,18px)">Chapter 3</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter4" style="font-size: clamp(8px,1.2vw,18px)">Chapter 4</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter5" style="font-size: clamp(8px,1.2vw,18px)">Chapter 5</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideChapter6" style="font-size: clamp(8px,1.2vw,18px)">Chapter 6</a></li>
                    <li style="padding-left: 1vw;"><a href="#BSideSummit" style="font-size: clamp(8px,1.2vw,18px)">Summit</a></li>
                    <li><a href="#Core">Core</a></li>
                    <li><a href="#Farewell">Farewell</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            {% lessCSSBackButton "/../lessCSS/about_depresso", "Go back to About Page" %}
            <div> 
                <h1>{{title}}</h1> 
            </div>
            <div id="Thoughts">
                <h2>Thoughts</h2>
            </div>
            <p style="padding-left: 3vw">I'm sure many people already know this by now, but Celeste is truly such a wonderful game. 
                When I heard from multiple people how amazing Celeste was, I tried watching a playthrough but was ultimately bored and thought that Celeste wasn't for me. 
                It took me a while to give Celeste another try - actually playing it this time - and now I realise that Celeste is one of those games where *you* have to be the one who's playing it for the magic to really settle in. 
                Anyway, you might be asking why I would then put videos of my Celeste gameplay on my own website, given my belief that you have to play Celeste yourself to truely experience it. 
                My response to that is that, yeah, you're right. 
                This page is mostly just for myself to look back upon and feel satisfied at my previous accomplishments. 
                I don't really anticipate other people will find this page too interesting. </br> </br>
                If you're here anyway, I formatted most of these videos to include 1 death at the start before I clear the level.
                I like to think of it as a nice reminder of how experiencing failure is a necessary part of succeeding. 
            </p>
            <div id="B-side">
                <h2>B-side</h2>
            </div>
            <p style="padding-left: 3vw">
                Unfortunately, I did not record my A-side gameplay (even though I would love to look back upon right now). 
                That just means that we have to start with the B-side recordings!
            </p>
            <div id="BSideChapter1">
                <h3>Chapter 1</h3>
            </div>
            <p style="padding-left: 3vw">
                Chapter 1! Even if it's not that challenging, I think it's nice to look back on chapter 1 and even replay the chapter 1 levels - they're really fun! 
                Just because it isn't super-ultra difficult doesn't mean that you can't still have a good time playing it! 
            </p>
            {% YouTube_carousel_lessCSS 
                ["IDnSPUKVQb0", "nCwvWbASaBI"],
                [""],
                [""]
            %}
            <div id="BSideChapter2">
                <h3>Chapter 2</h3>
            </div>
            <p style="padding-left: 3vw">
                I apparently only have one video for Chapter 2's B-side, but it is a somewhat interesting level.
            </p>
            <div class="centered_content">
                <iframe style="width: 50vw; height: 35vw" src="https://www.youtube.com/embed/6dSTaEsRoMg"> </iframe>
            </div></br>
            <div id="BSideChapter3">
                <h3>Chapter 3</h3>
            </div>
            <p style="padding-left: 3vw">
                Celestial Resort!! I don't know about how other people experienced Celeste, but when I was playing through the A-sides, this is where I felt that the difficulty started ramping up.
                Although, when we're talking about the B-sides, I feel as though Chapter 3's B-side is a LOT shorter than the A-side-
            </p>
            {% YouTube_carousel_lessCSS
                ["j_6HaCQGxCE", "19qDWLrmucI", "JNLIiGsc5uk", "ukYw0C_emH0", "Qwm0xwmATyw", "dTD1BDJu8oA"],
                [""],
                [""]
            %}
            <div id="BSideChapter4">
                <h3>Chapter 4</h3>
            </div>
            <p style="padding-left: 3vw">
                Something I've only been able to notice when watching these back is that chapter 4's background is really pretty.
                Unfortunately, you can't really notice it too much during gameplay because you're too busy fighting wind or trying to nab a strawberry.
            </p>
            {% YouTube_carousel_lessCSS 
                ["oTgrs5skqTE", "DKiTHvH_KmI", "AJKQ8mga430", "hxwIBt-PJ-g", "Bqx-D0DFJms"],
                [""],
                [""]
            %}
            <div id="BSideChapter5">
                <h3>Chapter 5</h3>
            </div>
            <p style="padding-left: 3vw">
                I thought I would get tired of the "Carry Theo" gimmick of Chapter 5 really quickly, but I actually ended up really enjoying the fun platforming you have to do when Theo handicaps you.
            </p>
            {% YouTube_carousel_lessCSS 
                ["XfC_PGCrA0Q", "euO4a9o8JNs", "dLI1DtqTdg8"],
                [""],
                [""]
            %}
            <div id="BSideChapter6">
                <h3>Chapter 6</h3>
            </div>
            <p style="padding-left: 3vw">
                I remember when I was playing through the A-sides and I had to start fighting Badeline - that's the moment I really got sucked into Celeste.
                The music was just so awesome and the story and platforming both began taking very interesting turns!  
            </p>
            {% YouTube_carousel_lessCSS 
                ["n0qbiQEMbiA", "agCUOG_YhA0", "vOwwkTKHuUs", "vbdOVs48NbQ", "q7NNGrKWfCk", "BYKden4S4VM", "hDG-rebPWHQ", "j5e8U3Xz50E", "ROlF-NblxRM", "Dj1ync9JApc"],
                [""],
                [""]
            %}
            <div id="BSideSummit">
                <h3>Summit</h3>
            </div>
            <p style="padding-left: 3vw">
                The summit!! Honestly, some of the levels on the A-side and B-side for the summit were probably pretty difficult. 
                I don't really remember being that frustrated though, because I think I was just really determined to succeed - and I think that was the intention of developers when they made the Summit.
            </p>
            {% YouTube_carousel_lessCSS 
                ["d8978bC8kfI", "DQqLgKCse-0", "QppL_7lHlX4", "2V7WRaOCEK0", "op7xwJxU91M", "FrcNprF2qOE", "LvSYn25yTNQ", "utiXSF2p9OI"],
                [""],
                [""]
            %}
            <div id="Core">
                <h2 style="font-weight:normal;">Core</h2>
            </div>
            <p style="padding-left: 3vw">
                I'll be honest, while I love most nearly all of Celeste, for some reason, I don't really like the Core that much.
                I'm not really sure why, it's not like I was particularly frustrated with the levels or thought they were unfair or anything. 
                Maybe it's just because I didn't feel much of a story connection while playing through the Core.
            </p>
            {% YouTube_carousel_lessCSS 
                ["_cP2oiUgxoE", "LjHdyzZNVwc", "WMSn1YpiAeI", "xx68-Nckqac"],
                [""],
                [""]
            %}
            <div id="Farewell">
                <h2 style="font-weight:normal;">Farewell</h2>
            </div>
            <p style="padding-left: 3vw">
                And, of course, Farewell. I absolutely loved the challenge that Farewell gave me. 
                The music for Farewell is also really stunning. 
            </p>
            {% YouTube_carousel_lessCSS 
                ["J6U6bYm2fQs", "on2qqv0A1Y0", "bIw7mqFYS9I", "uZCU4ZJalbM", "fyv0aNzI_os", "7A5VZpE3BcI", "rR5s4QTQX2M", "HJbY7WseV2U", "Jl-gQ4gFtzI", "3H0KyilO0rk"],
                [""],
                ["Oh, this one was quite frustrating, but it's funny looking back on it", "Haha! Actually grabbed it this time!", "Apologies, I didn't quite have my \"editing style\" down yet for this recording, so you have to watch me fail a bunch of times.", "", "", "", "", "", "Just taking a preview of what's to come...", "Before getting here, I had heard many things about this level. </br> Nothing could prepare me for how exhilarating this run was, however."]            %}
            </br>
            </br>
            {% include "lessCSS-site-footer.html" %}
        </main>
    </div>
</body>
</html>