<h2 id="eraser-holder">Eraser Holder</h2>
<iframe src="https://www.youtube.com/embed/WnvcnynVrrc"></iframe>
<p>Time I spent making this: 8166 minutes</p>
<p>Money I spent making this: $226.70</p>
<p>The Eraser Holder was a fun project that served as a nice introduction to 3D-printing and using an Arduino!</p>
<p>Even if it's not the strongest robotic arm around, I pride myself in how it's able to continue being low maintenance and operational through continual daily use. </p>
<p>When I was researching how to make a robotic arm, so many people who made them and documented their processes made them in ways that are nice if you just want to have a toy that'll sit on your desk all day, but horrendous if you want to wear it on your back and walk/run through somewhat rugged terrain on a daily basis. I ended up having to spend most of my time redoing wires, joints, etc. to make it capable of handling rugged terrain and just generally not a spoiled baby.</p>
