<div class="default_content">
    <h2 style="font-weight:normal;">Human Pointer</h2>
</div>
<div class="centered_content">
    <iframe style="width: 50vw; height: 29vw"
    src="https://www.youtube.com/embed/HImk6oRQRdE">
    </iframe>
</div></br>
{% centered_table
    [["Time I spent making this", "1061 minutes"],
    ["Money I spent making this", "$173.56"]]
%}
<div class="default_content">
    <p>A fun little Human Pointer robot I created, just because I wanted a fully autonomous device to accompany my Eraser Holder!</p>
    <p>Despite being its creator it has terrified me with two features that I didn't know it had.</p>
    <ol>
        <li>It can see through walls.</li>
        <li>It spasms like a trapped animal if you try to turn it off, even though I should be it its blind spot when deactivating it.</li>
    </ol>
</div>