<h2>Patchwork</h2>
<img src="/assets/images/FullPatchwork1.png" width="300" alt="Patchwork as seen from above, with tracks and motors that allow it to move.">
<img src="/assets/images/FullPatchwork2.png" width="300" alt="Patchwork as seen from the side, showing the suspension and track design.">
{% YouTube_carousel_noCSS 
    ["TQ48zr0UskY","t1MKMU8ErVM","zUorCNWKmLk"],
    ["Patchwork initial movement test", "Patchwork carries a box", "Patchwork's Story"], 
    ["Patchwork can be pretty fast for its size!", "Patchwork can actually carry quite a bit as well!", "A poorly-editted showcase of Patchwork's story."]
%}
<p>Time I spent making this: 7076 minutes</p>
<p>Money I spent making this: $1050.50</p>
<p>Patchwork was a fun project to finally construct something really cool once I finally had the budget to start making things properly!
    It's a mobile base that can have various items attached on top of it, like a big box to carry my stuff!
    Patchwork is named like that because I accidentally bought two slightly different shades of grey PLA filament when creating Patchwork, so different parts are slightly different colours.
</p>
<a href="/noCSS/Projects/robotics_blog/patchwork">Click here to see Patchwork's Development Blog!</a>
