<div class="default_content">
    <h2 style="font-weight:normal;" id="eraser-holder">Patchwork</h2>
</div>
{% multiple_centered_images 
    ["/assets/images/FullPatchwork1.png", "/assets/images/FullPatchwork2.png"],
    ["", ""],
    ["Patchwork as seen from above, with tracks and motors that allow it to move.","Patchwork as seen from the side, showing the suspension and track design."],
    ["20vw","20vw"]
%}
{% YouTube_carousel 
    "PatchworkCarousel",
    ["TQ48zr0UskY","t1MKMU8ErVM","zUorCNWKmLk"],
    ["Patchwork initial movement test", "Patchwork carries a box", "Patchwork's Story"], 
    ["Patchwork can be pretty fast for its size!", "Patchwork can actually carry quite a bit as well!", "A poorly-editted showcase of Patchwork's story."],
    "20vw"
%}
<div style="padding-top: 5vw"></div>
{% centered_table
    [["Time I spent making this", "7076 minutes"],
    ["Money I spent making this", "$1050.50"]]
%}
<div class="default_content">
    <p>Patchwork was a fun project to finally construct something really cool once I finally had the budget to start making things properly!</p>
    <p>It's a mobile base that can have various items attached on top of it, like a big box to carry my stuff!</p>
    <p>Patchwork is named like that because I accidentally bought two slightly different shades of grey PLA filament when creating Patchwork, so different parts are slightly different colours.</p>
    <a aria-label="Click here to see Patchwork's Development Blog" style="position: relative; z-index: 3; color:rgb(33, 86, 165)" href="/modernCSS/Projects/robotics_blog/patchwork">Click here to see Patchwork's Development Blog!</a>
</div>