---
title: Depresso's About Page
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global-head-code.html"%}
  <link rel="stylesheet" href="/css/global.css"/>

  <div style="outline:none">
    <a href="/../../lessCSS/about_depresso" onclick="goToAccessibilityWebsite()" id="accessibilityWebsiteButton" class="page__content-skip-link">Go to accessible version of website</a>
  </div>
  <div style="outline:none">
    <a href="#main-content" class="page__content-skip-link">Skip to main content</a>
  </div>
  <script defer>
    function goToAccessibilityWebsite() {
      localStorage.setItem('preferredCSSMode', 'lessCSS');
      window.location.replace('/../../lessCSS/about_depresso');
    }
  </script>

  {% include "site-header.html" %}
  <script>
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/about_depresso');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/about_depresso');
    }
  </script>
</head>
<body>
  <div id="main-content" tabindex="-1" class="centered_content_with_padding" style="padding-top:2vw; padding-bottom: 0;">
    <div class="box">
      <p>-----BEGIN PGP PUBLIC KEY BLOCK-----</br>
        Comment: User ID:	Depresso &lt;Depressos_proton@proton.me&gt;</br>
        Comment: Valid from:	5/30/26 4:32 PM</br>
        Comment: Type:	255-bit EdDSA (secret key available)</br>
        Comment: Usage:	Signing, Encryption, Certifying User IDs</br>
        Comment: Fingerprint:	EE19 DCFA AEBA 684D ECC0  C893 0F48 1C35 67CC 4F82</br>

        mDMEahtJaRYJKwYBBAHaRw8BAQdAZurqnk9gwciQoinApIFlTuvc+0/0f89DXfip</br>
        aYmtomO0JURlcHJlc3NvIDxEZXByZXNzb3NfcHJvdG9uQHByb3Rvbi5tZT6IkwQT</br>
        FgoAOwIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgBYhBO4Z3PquumhN7MDI</br>
        kw9IHDVnzE+CBQJqMZliAAoJEA9IHDVnzE+CDmcBAM/MbXIYI4LQtg6O1wWzbQpe</br>
        f0rk7Fy/quzQFNOiaZi2AQDDQi7N3M7Yw9mMNfg8A6p5wlm67aHjIyXkdopgXNkm</br>
        B7g4BGobSWkSCisGAQQBl1UBBQEBB0CcnU2nuk765LpN1NzAyVBLJFLbRHdNycCg</br>
        gpGWoQFEVwMBCAeIeAQYFgoAIAIbDBYhBO4Z3PquumhN7MDIkw9IHDVnzE+CBQJq</br>
        MZljAAoJEA9IHDVnzE+CWbQA/1x+rxP6Cxr18ULkczF9ywKaldZwtJvyQMZ6qant</br>
        mewOAQCAG0vL3b1xa/WCVfHOgxmCM/mVyMN6RPBoc20owMfHAw==</br>
        =qlwY</br>
        -----END PGP PUBLIC KEY BLOCK-----</br>
      </p>
      <div class="footer" style="padding: 0 0; padding-top: 0.2vw">
        <div class="footer_icons" style="justify-content: right">
          <a href="/assets/DepressoPublicKey.gpg" download="DepressoPublicKey.gpg"><img alt="Download Depresso's public PGP key as a .gpg file" style="height:15px;" src="/assets/images/Download.png"></a>
          <button class="copy_button" id="copy_button" onclick="copyPGPPublicKey()">
            <img alt="Copy Depresso's public PGP key to the clipboard" style="height:15px" src="/assets/images/Copy.png">
            <img alt="Copy Depresso's public PGP key to the clipboard" style="height:15px" src="/assets/images/Checkmark.png">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="default_content" style="padding-left: 20vw; padding-right: 20vw;">
    <h1>{{title}}</h1>
    <p>I am Depresso*. I've kind of made it my life goal to never be boring!</p>
    <p>I personally think the best way to start getting to know people is by looking at the things they have done, which is why I highly recommend you start out by checking out the <a href="/modernCSS/Projects/projects" style="color:rgb(33, 86, 165)">projects I've made</a>! 
      I think of making projects as a big part of who I am.</p>
    <p>Besides my projects, I'm really interested in mathematics and physics. 
      As a result of those two interests, I happen to be somewhat interested in computer science and coding as well, just because computers turn out to be incredibly useful in both math(s) and physics!</p>
    <p>If you don't know me too well, you might think I'm a high-tech kind of person, but I would argue that's only half correct! 
      I really enjoy having my <a href="https://www.thelightphone.com/" style="color:rgb(33, 86, 165)">Light Phone</a>, which is basically a super-dumbed down phone that can't access the internet. 
      And although I do have tons of programs running on my computer at any given moment, most of those programs just block me from accessing other technologies, like blocking short-form content and limiting the amount of YouTube I can watch in a given session. 
      Without all of this, I really don't think I could've created all of the projects that I've created so far!</p>
    <p>Yet, I've still been using Linux for a considerable length of time, I carry around my <a href="/modernCSS/Projects/robotics_projects/#eraser-holder" style="color:rgb(33, 86, 165)">Eraser Holder</a>, and I do spend many weekends obsessing over programs and spreadsheet formulas, so I would personally say I'm in a weird situation of being simultaneously high-tech and low-tech.</p>
    <p>Anyway, when I decide I deserve a bit of a break from working, I do still like to relax and watch anime or play games. 
      My favourite anime for a while has been Girls' Last Tour but I do also enjoy any anime with a really good/compelling story.
      In terms of games, I can really get into super difficult games that make you feel an amazing sense of accomplishment once you finally finish them, which is why I've collected my <a href="/modernCSS/Games/celeste_moments" style="color:rgb(33, 86, 165)">Celeste moments</a> and <a href="/modernCSS/Games/touhou_moments" style="color:rgb(33, 86, 165)">Touhou moments</a>!
    </p>
  </div>
  {% include "go-home-button.html"%}
  {% footnote "*Also known as Unhelpful_Misery, ExtremeNihilism, etc." %}
  {% include "site-footer.html" %}
  <script>
    async function copyPGPPublicKey() {
      navigator.clipboard.writeText("-----BEGIN PGP PUBLIC KEY BLOCK-----\nComment: User ID:	Depresso <Depressos_proton@proton.me>\nComment: Valid from:	5/30/26 4:32 PM\nComment: Type:	255-bit EdDSA (secret key available)\nComment: Usage:	Signing, Encryption, Certifying User IDs\nComment: Fingerprint:	EE19 DCFA AEBA 684D ECC0  C893 0F48 1C35 67CC 4F82\n\nmDMEahtJaRYJKwYBBAHaRw8BAQdAZurqnk9gwciQoinApIFlTuvc+0/0f89DXfip\naYmtomO0JURlcHJlc3NvIDxEZXByZXNzb3NfcHJvdG9uQHByb3Rvbi5tZT6IkwQT\nFgoAOwIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgBYhBO4Z3PquumhN7MDI\nkw9IHDVnzE+CBQJqMZliAAoJEA9IHDVnzE+CDmcBAM/MbXIYI4LQtg6O1wWzbQpe\nf0rk7Fy/quzQFNOiaZi2AQDDQi7N3M7Yw9mMNfg8A6p5wlm67aHjIyXkdopgXNkm\nB7g4BGobSWkSCisGAQQBl1UBBQEBB0CcnU2nuk765LpN1NzAyVBLJFLbRHdNycCg\ngpGWoQFEVwMBCAeIeAQYFgoAIAIbDBYhBO4Z3PquumhN7MDIkw9IHDVnzE+CBQJq\nMZljAAoJEA9IHDVnzE+CWbQA/1x+rxP6Cxr18ULkczF9ywKaldZwtJvyQMZ6qant\nmewOAQCAG0vL3b1xa/WCVfHOgxmCM/mVyMN6RPBoc20owMfHAw==\n=qlwY\n-----END PGP PUBLIC KEY BLOCK-----");
      document.getElementById("copy_button").classList.add("display_as_checkmark");
      setTimeout(function() {
        document.getElementById("copy_button").classList.remove("display_as_checkmark");
      }, 2000);
    }
  </script>
</body>
</html>