---
title: I hate your website
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global-head-code.html"%}

  <div style="outline:none">
    <a href="/../../lessCSS/I_hate_your_website" onclick="goToAccessibilityWebsite()" id="accessibilityWebsiteButton" class="page__content-skip-link">Go to accessible version of website</a>
  </div>
  <div style="outline:none">
    <a href="#main-content" class="page__content-skip-link">Skip to main content</a>
  </div>
  <script defer>
    function goToAccessibilityWebsite() {
      localStorage.setItem('preferredCSSMode', 'lessCSS');
      window.location.replace('/../../lessCSS/I_hate_your_website');
    }
  </script>

  <link rel="stylesheet" href="/css/global.css"/>
  {% include "site-header.html" %}
  <script>
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/I_hate_your_website');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/I_hate_your_website');
    }
  </script>
</head>
<body>
  <div class="top_content" id="main-content" tabindex="-1">
    <h1>Want a change of scenery?</h1>
  </div>
  <div class="default_content">
    <p>
      Perhaps you're tired of the modern website - loaded with tons of fancy gimmicks and animations.
      Instead, you might want something that feels a little bit more detached from modern life - just a bit of colour here and there, maybe a table of contents, but nothing complicated.
      Or maybe you're just looking for something that'll load faster on your computer. 
      If that sounds like you, press the button below to see what the site looks like with less fanciness!
      And don't worry - if you come back, this website will remember your preferences!
    </p>  
  </div>
  <div class="centered_content_with_padding">
      <button class="button button1" id="lessCSSButton">Less CSS ➤</button>
  </div>
  <div class="default_content">
    <p>
      Or maybe you're shouting at me right now: saying "You don't know what simple means!" 
      You may think that even the "Less CSS" website is still too much - we have to commit to this decision to reduce fanciness.
      Or, maybe you're not a human at all, and you're a machine looking for an easier time collecting data.
      If any of that sounds familiar, you can click the button below to see what the site looks like with incredibly minimal fanciness!
      And don't worry - if you come back, this website will remember your preferences!
    </p>  
  </div>
  <div class="centered_content_with_padding">
      <button class="button button1" id="noCSSButton">No CSS ➤</button>
  </div>
  {% include "go-home-button.html"%}
  {% include "site-footer.html" %}
  <script defer>
    const modernCSSButton = document.getElementById('modernCSSButton');
    const lessCSSButton = document.getElementById('lessCSSButton');
    const noCSSButton = document.getElementById('noCSSButton');
    lessCSSButton.addEventListener("click", () => {
      localStorage.setItem('preferredCSSMode', 'lessCSS');
      window.location.replace('/../../lessCSS/I_hate_your_website');
    })
    noCSSButton.addEventListener("click", () => {
      //Redirect user to the no CSS version of this website. 
      localStorage.setItem('preferredCSSMode', 'noCSS');
      window.location.replace('/../../noCSS/I_hate_your_website');
    })
  </script>
</body>
</html>