---
title: Touhou Moments (Extra Stages)
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/carousel.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>

    <div style="outline:none">
        <a href="/../../lessCSS/Games/touhou_moments/extra" onclick="goToAccessibilityWebsite()" id="accessibilityWebsiteButton" class="page__content-skip-link">Go to accessible version of website</a>
    </div>
    <div style="outline:none">
        <a href="#main-content" class="page__content-skip-link">Skip to main content</a>
    </div>
    <script defer>
        function goToAccessibilityWebsite() {
        localStorage.setItem('preferredCSSMode', 'lessCSS');
        window.location.replace('/../../lessCSS/Games/touhou_moments/extra');
        }
    </script>

    {% include "site-header.html" %}
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/Games/touhou_moments/extra');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/Games/touhou_moments/extra');
    }
    </script>
</head>
<body>
    <div class="TOCed_content_container"> 
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#Thoughts">Thoughts</a></li>
                    <li><a href="#Touhou6">Touhou 6</a></li>
                    <li><a href="#Touhou7">Touhou 7</a></li>
                    <li><a href="#Touhou8">Touhou 8</a></li>
                    <li><a href="#Touhou10">Touhou 10</a></li>
                    <li><a href="#Touhou11">Touhou 11</a></li>
                    <li><a href="#Touhou12">Touhou 12</a></li>
                    <li><a href="#Touhou16">Touhou 16</a></li>
                    <li><a href="#Touhou18">Touhou 18</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content" id="main-content" tabindex="-1">
            <div class="centered_content">
                <a class="button button1" href="/../../modernCSS/Games/touhou_moments/normal" style="border-radius:0;padding-top:0.5vw; padding-bottom: 0.5vw; padding-left:0.5vw; padding-right: 0.5vw;">Normal Mode</a>
                <a class="button button1 buttonSelected" style="border-radius:0;padding-top:0.5vw; padding-bottom: 0.5vw; padding-left:0.5vw; padding-right: 0.5vw;">Extra Stage</a>
            </div>
            <div> <h1>{{title}}</h1> </div>
            <div id="Thoughts">
                <h2>Thoughts</h2>
            </div>
            <p style="padding-left: 3vw">
                At first, I did not realise how much more memorisation was required to complete the extra stages compared to the regular game.
                Once I got adjusted to that fact, then the extra stages became a lot more fun. 
                But also, don't expect amazing gameplay here. 
                I allowed myself to beat the Extra Stages using any means necessary - bombspamming and cheese included!!
                Unfortunately, that means that I don't think I'll ever really sit down to play an extra stage for the funsies every once in a while, since it kind of has to be a big session.
            </p>
            <div id="Touhou6">
                <h2>Touhou 6: Embodiment of Scarlet Devil</h2>
            </div>
            <p style="padding-left: 3vw">
                Flandre Scarlet!!!
                How could I call myself a Touhou fan if I haven't even fought her properly?
                Also, I did not realise how much damage Marisa A could deal before I needed that DPS against Flan.
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 6 Extra Stage Clear (Marisa A)"
                src="https://www.youtube.com/embed/UzJfRlZwEBU">
                </iframe>
            </div>
            <div id="Touhou7">
                <h2>Touhou 7: Perfect Cherry Blossom</h2>
            </div>
            <p style="padding-left: 3vw">
                Probably one of the easiest extra stages, if I'm to be completely honest. 
                Just . . . Don't go into this extra stage DIRECTLY after beating the game for the first time in normal mode, or you'll be quite surprised.
            </p>
            {% YouTube_carousel
                "Touhou7",
                ["_NsPsImnJkE", "ndkQmQBxjH8"],
                ["Touhou 7 Phantasm Stage clear (Sakuya A)", "Touhou 7 Extra Stage clear (Sakuya A)"],
                ["This run was my first time seeing Yukari's final attack, so bombs away!", "Some of Ran's attacks are actually harder than Yukari's versions??"],
                "10vw"
            %}
            <div id="Touhou8">
                <h2>Touhou 8: Imperishable Night</h2>
            </div>
            <p style="padding-left: 3vw">
                I really love the long deathbomb window with this Extra Stage...Because I certainly need those "extra lives."
                There are some really beautiful attack patterns though.
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 8 Extra Stage Clear (Border Team)"
                src="https://www.youtube.com/embed/fW9EAK0e-ns">
                </iframe>
            </div>
            <div id="Touhou10">
                <h2>Touhou 10: Mountain of Faith</h2>
            </div>
            <p style="padding-left: 3vw">
                I don't know what it is about these attacks, but they are so satisfying to clear.
                Both Suwako and Kanako are really quite fun once you realise how they work.
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 10 Extra Stage Clear (Reimu A)"
                src="https://www.youtube.com/embed/VJ9WJdyIYuw">
                </iframe>
            </div>
            <div id="Touhou11">
                <h2>Touhou 11: Subterranean Animism</h2>
            </div>
            <p style="padding-left: 3vw">
                Jeez, I don't know if it's just me, but this extra stage is crazy difficult compared to the other ones.
                I ended up completing it, but man, I had to go full focus mode for that one. 
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 11 Extra Stage Clear (Reimu A)"
                src="https://www.youtube.com/embed/xRsU_yhFn5U">
                </iframe>
            </div>
            <div id="Touhou12">
                <h2>Touhou 12: Undefined Fantastic Object</h2>
            </div>
            <p style="padding-left: 3vw">
                I don't know if it's just me, but I was feeling pretty frustrated with this extra stage compared to the other ones.
                Maybe I just don't like difficult stage sections where I retry over and over again for a "good run," even if the boss is really easy.
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 12 Extra Stage Clear (Sanae B)"
                src="https://www.youtube.com/embed/ZEQgMjWK0Co">
                </iframe>
            </div>
            <div id="Touhou16">
                <h2>Touhou 16: Hidden Star in Four Seasons</h2>
            </div>
            <p style="padding-left: 3vw">
                Really easy Extra Stage if you pick homing Reimu, because the damage you deal to the enemies that come behind you just becomes insane.
                Maybe I'll try it with other characters too, sometime in the future when I'm a better Touhou player.
            </p>
            <div class="centered_content">
                <iframe
                title="Touhou 16 Extra Stage Clear (Reimu)"
                src="https://www.youtube.com/embed/Q4E4Y9zYzE0">
                </iframe>
            </div>
            <div id="Touhou18">
                <h2>Touhou 18: Unconnected Marketeers</h2>
            </div>
            <p style="padding-left: 3vw">
                I dunno about most people, but I felt like this was the easiest extra stage provided that you got a good card pickup and you've beaten the normal mode using a blank card.
                Having three starting cards is just really useful in this extra stage.
            </p>
            {% YouTube_carousel
                "Touhou18",
                ["HwLVKP5Z6Bw", "1YX0QZtRO3Y"],
                ["Touhou 18 Extra Stage clear (Sanae)", "Touhou 18 Extra Stage clear (Reimu)"],
                ["Legendary drum pick-up right here", "Don't worry, I can do it without the drum too!"],
                "10vw"
            %}
            </br>
            </br>
            {% include "go-home-button.html"%}
        </main>
    </div>
    {% include "site-footer.html" %}
</body>
</html>