---
title: Robotics Projects
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
      window.location.replace('/../../modernCSS/Projects/robotics_projects');
    }
    if (localStorage.getItem('preferredCSSMode') === 'lessCSS') {
      window.location.replace('/../../lessCSS/Projects/robotics_projects');
    }
  </script>
</head>
<body>
    <a href="/../noCSS/Projects/projects"><p>Go back to Projects Homepage</p></a>
    <div class="top_content"> <h1>{{title}}</h1></div>
    {% include "robotics_projects/human_pointer_noCSS.html" %}
    {% include "robotics_projects/eraser_holder_noCSS.html" %}
</body>
</html>