---
title: Coding Projects
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global-head-code.html"%}
    <link rel="stylesheet" href="/css/globalLessCSS.css"/>
    <link rel="stylesheet" href="/css/table.css"/>
    <script>
    if (localStorage.getItem('preferredCSSMode') === 'modernCSS') {
      window.location.replace('/../../modernCSS/Projects/coding_projects}');
    }
    if (localStorage.getItem('preferredCSSMode') === 'noCSS') {
      window.location.replace('/../../noCSS/Projects/coding_projects');
    }
  </script>
</head>
<body>
    <div class="top_content">
        {% lessCSSBackButton "/../lessCSS/Projects/projects", "Go back to Projects Homepage" %}
    </div>
    <div class="default_content">
        <h3>{{title}}</h3>
        <h2 style="font-weight:normal;">American Units converter</h2>
        <p>
            This is the first program that I got working on my website! 
            It will convert units from SI units to American Units.
            Not Imperial units - <i>American</i> units. 
            Click on the button below to see what I mean!
        </p>
        <p>
            Alternatively, <a href="/assets/code-files/american-units/American Units.py" download="American-Units.py" style="color:rgb(33, 86, 165)">click here if you want to download the python program</a> to play around with yourself, and <a href="/assets/code-files/american-units/UnitsSources.xlsx" download="UnitsSources.xlsx" style="color:rgb(33, 86, 165)">click here if you want to see my sources</a>!
        </p>
        <ul>
            <li><a aria-label="Go to American Units Program" style="color:rgb(33, 86, 165)" href="/../lessCSS/Projects/coding_blog/american_units">Go to American Units Program</a></li>
        </ul>
        <h2 style="font-weight:normal;">Daily Checklist Project</h2>
        <p>This is a simple program that my sister and I collaborated to created! It notifies you of any chores that you should remember today (like taking out the trash, doing laundry, etc). It displays both the items that should be done today, as well as the items that are overdue (weren't completed when they were supposed to). To clear an item, just type in its name!</p>
        <p>I find this incredibly helpful for making sure I'm on top of all of those necessary but easy-to-forget tasks. You can download the three main files for the program below! (Change the contents of “Checklist Data.txt” to whatever suits your needs.)</p>
        <ul>
            <li><a aria-label="Download Checklist-Data.txt" style="color:rgb(33, 86, 165)" href="/../assets/code-files/Checklist-Data.txt" download="Checklist-Data.txt">Download Checklist-Data.txt</a></li>
            <li><a aria-label="Download main.py" style="color:rgb(33, 86, 165)" href="/../assets/code-files/main.py" download="main.py">Download main.py</a></li>
            <li><a aria-label="Download repetitions.py" style="color:rgb(33, 86, 165)" href="/../assets/code-files/repetitions.py" download="repetitions.py">Download repetitions.py</a></li>
        </ul>
        <h2 style="font-weight:normal;">Entertainment Limiting Script</h2>
        <p>I made this script in collaboration with my sister to limit the amount of time I can spend on entertainment sites! If you try to spend more than 50 minutes on an entertainment site (currently just youtube.com, but you can add others!), the script will automatically kick you out, and you’ll have to wait 60 minutes before you can do entertainment again. The specific time intervals are also adjustable to whatever your heart desires! I highly recommend pairing this script with a basic website blocker plugin.</p>
        <ul>
            <li><a aria-label="Download Entertainment-Limiting-Script.html" style="color:rgb(33, 86, 165)" href="/../assets/code-files/Entertainment-Limiting-Script.html" download="Entertainment-Limiting-Script.html">Download Entertainment-Limiting-Script.html</a></li>
        </ul>
        <h2 style="font-weight:normal;">RSA Program</h2>
        <p>I made an implementation of the RSA algorithm in Python, just because I thought how the algorithm worked was cool, and I wanted to study it in a bit more detail. It only took around 1,080 minutes to complete!</p>
        <ul>
            <li><a aria-label="Download RSA.py" style="color:rgb(33, 86, 165)" href="/../assets/code-files/RSA.py" download="RSA.py">Download RSA.py</a></li>
        </ul>
        <h2 style="font-weight:normal;">Birthday Tracker</h2>
        <p>This is a program that I made which very simply tells you which birthdays are coming up! Just put “List of Birthdays.txt” and “Birthday Tracker Program.py” in the same folder, and run the “Birthday Tracker Program.” Make sure to add all of your friends’ birthdays into the List of Birthdays!</p>
        <ul>
            <li><a aria-label="Download List-of-Birthdays.txt" style="color:rgb(33, 86, 165)" href="/../assets/code-files/List-of-Birthdays.txt" download="List-of-Birthdays.txt">Download List-of-Birthdays.txt</a></li>
            <li><a aria-label="Download Birthday-Tracker-Program.py" style="color:rgb(33, 86, 165)" href="/../assets/code-files/Birthday-Tracker-Program.py" download="Birthday-Tracker-Program.py">Download Birthday-Tracker-Program.py</a></li>
        </ul>
    </div>
    {% include "lessCSS-site-footer.html" %}
</body>
</html>